body{
  width: 600px;
  margin: auto;
}
.floatRight{
  float: right;
}
.clearFloat{
  clear: both;
}
.small{
  font-size: small;
}
.error{
  font-size: small;
  color: red;
}
.noBulletsList{
  list-style: none;
}
.game{
  font-size: large;
}
